.adjustMeme{
    margin-left:5%;
    margin-bottom: 2%;
}

h3{
    border-bottom:0.5px solid white;
    width:15%;
    padding:2px;
    font-size:1.5em;
}

img{
    width:500px;
    height:auto;
    border: 5px solid black;
}

p{
    font-size: 1.2em;
    max-width: 50%;
    font-style: italic;
    color:black;
}
